.hide {
  display: none !important;
}

.full-screen {
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .log {
    border-left: 1px solid #f1a93c;
  }

  .ul-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  div.dog-list-base {
    overflow: auto;
  }

  .bar {
    font-size: 3rem;
  }

  time.date {
    font-size: 1.5rem;
    position: relative;
    top: 0.25rem;
  }

  .plus-div {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
    bottom: 16rem;
  }

  .home-image-div {
    position: relative;
    top: 6.4rem;
    width: 42%;
    height: 17rem;
  }

  img.home-image {
    width: 90%;
    height: 17rem;
    max-width: 17rem;
  }

  .name {
    position: relative;
    top: 7rem;
  }

  div.log-list {
    position: relative;
    bottom: 19.75rem;
    min-height: calc(100% - 10rem);
    overflow: scroll;
  }

  div.dog-list {
    display: flex;
    justify-content: center;
    min-height: calc(100% - 10rem);
  }

  .name-icon {
    position: relative;
    z-index: 1;
  }

  div.lds-heart div {
    position: relative;
    bottom: 28rem;
    right: 28rem;
    width: 40px;
    height: 40px;
    background: #ffb13c;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  div.photo-heart {
    top: 24.5rem;
  }

  .go-back {
    position: relative;
    z-index: 1;
  }
}
