body {
  background-color: #f0d1a2;
}

i {
  font-size: 2.25rem;
  margin-left: 0.5rem;
}

li {
  list-style-type: none;
  background-color: #fff5e7;
}

.home-image {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid black;
}

.change-image {
  width: 23rem;
  height: 23rem;
  margin-bottom: 1rem;
  object-fit: contain;
}

.category {
  border-radius: 10px;
  padding: 0.25rem 1rem;
  margin: 0.5rem auto;
  border: 1px solid #f1a93c;
}

.category-name {
  font-size: 1.4rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
}

.btn-polish {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.meal {
  color: #a0662f;
}

.snack {
  color: #f9b668;
}

.walk {
  color: #585858;
}

.poo {
  color: #66401c;
}

.medicine {
  color: #b29393;
}

.puke {
  color: #389a28;
}

.wash {
  color: #2793f6;
}

.brush {
  color: #543110;
}

.custom {
  color: #db9c62;
  margin-right: 0.75rem;
}

.custom-icon {
  color: #db9c62;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.box-shadow {
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.4);
}

.inner-white {
  background-color: white;
  height: calc(100vh - 8vh);
  min-width: calc(100vw - 6vw);
  border-radius: 15px;
  overflow: hidden;
}

.date {
  margin-top: 2rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.no-line {
  text-decoration: none;
}

.log {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #f1a93c;
  border-top: 1px solid #f1a93c;
  margin-bottom: -1px;
}

.ul-base {
  padding: 0;
  resize: vertical;
  overflow: hide;
}

.list-base {
  margin-top: 0.5rem;
  padding: 0;
  width: 100%;
}

.margin-lr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.log-list {
  overflow: scroll;
  position: relative;
  bottom: 3rem;
  min-height: 20rem;
}

.bar {
  position: fixed;
  margin-left: 2rem;
  z-index: 2;
}

.bar:hover {
  color: rgb(0, 92, 230);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-out;
}

.overlay.open {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.drawer-content {
  position: fixed;
  left: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  background-color: white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease-out;
  z-index: 3;
}

.drawer-content.close {
  transform: translateX(-110%);
}

.drawer-content.open {
  transform: translateX(0%);
}

.menu {
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.menu-items {
  font-size: 1.2rem;
  list-style-type: none;
  line-height: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  transition: background-color 0.2s ease-out;
}

.custom-plus-button {
  border: 3px solid #328755;
  border-radius: 15px;
  color: #328755;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  font-size: 4rem;
  transition: 0.2s;
  margin-right: 1rem;
  line-height: 2rem;
  position: fixed;
  bottom: 3rem;
}

.custom-plus-button:hover {
  color: white;
  background-color: #328755;
}

.plus {
  position: relative;
  float: right;
}

.menu-icon {
  font-size: 1.75rem;
  margin-top: 0.1rem;
  margin-right: 0.5rem;
}

.image-icon {
  position: relative;
  top: 0.1rem;
}

.go-back {
  color: black;
  margin-top: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}

.photo-header {
  margin-top: 1rem;
  margin-right: 11rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.custom-file-upload {
  border-radius: 0.25rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  background-color: #6d757d;
  font-size: 1.2rem;
  transition: 0.5s;
}

.custom-file-upload:hover {
  background-color: #545a5f;
}

.save-button {
  font-size: 1.2rem;
}

.doggo-logo {
  width: 17rem;
  height: 17rem;
  margin-bottom: 2rem;
}

.sign-form {
  margin: 0 auto;
}

.log-out-icon {
  position: relative;
  top: 0.1rem;
}

.sign-link {
  position: relative;
  bottom: 1.5rem;
  text-decoration: none;
}

.menu-button {
  background-color: white;
  border: none;
  position: relative;
  right: 0.3rem;
}

.menu-button:hover {
  color: rgb(0, 92, 230);
}

.menu-doggo-logo {
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 4.5rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.overlay-name {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.name-box {
  background-color: white;
  height: 26rem;
  width: 28rem;
  margin: 5rem auto;
  border-radius: 5px;
  padding-top: 1rem;
}

.name-div {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.welcome-text {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
}

.name-label {
  position: relative;
  right: 4.75rem;
}

.name-doggo-logo {
  height: 10rem;
  width: 10rem;
  position: relative;
  bottom: 1rem;
}

.name-button {
  font-size: 1.3rem;
}

.name {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  display: inline-block;
}
